* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    max-width: 600px;
    max-height: 500px;
}

#prioridad {
    background-color: rgb(181, 229, 233);
}

#filtroPrioridad {
    background-color: rgb(181, 229, 233);

}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: rgb(5, 93, 109);
    color: white
}

h2 {
    background-color: whitesmoke;
    border-top: 4px solid rgb(82, 189, 189);
    border-bottom: 4px solid rgb(82, 189, 189);
    text-align: center;


}

#agregarBoton {
    background-color: darkcyan;
    padding: 10px;
    border-radius: 20%;
}

.container {
    background-color: rgba(211, 211, 211, 0.795);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.urgente {
    background-color: rgb(226, 64, 105);
    padding: 20px;
}

.diaria {
    background-color: rgb(100, 171, 199);
    padding: 20px;
}

.mensual {
    background-color: rgb(121, 209, 87);
    padding: 20px;
}